*
    {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
html
    {
        font-size: 62.5%;
    }
:root
    {
        --sd: 1.4rem;
        --md: 1.8rem;
        --bd: 2.4rem; 
    }
body
    {
        font-size: var(--md);
    }