*
    {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
html
    {
        font-size: 62.5%;
    }
:root
    {
        --sd: 1.4rem;
        --md: 1.6rem;
        --bd: 1.8rem; 
    }